{% for information in informations %}
    <div class="item">
        <a href="{{ information.href }}">
            <div class="card">
                <img alt="New 1" class="lazyload card-img-top"
                     data-src="{{ information.thumb }}">
                <div class="card-body">
                    <div class="card-text">
                        {{ information.title }}
                    </div>
                    <span class="card-foot">{{ information.date_added }}</span>
                </div>
            </div>
        </a>
    </div>
{% endfor %}