.content {
	padding : 2.5rem 1.5rem 0;
	
	> * {
		margin-bottom : 1.25rem;
	}
	
	blockquote {
		border-bottom : 1px solid #eae6e7;
		border-top    : 1px solid #eae6e7;
		font-size     : 1.25rem;
		font-weight   : 500;
		line-height   : 1.7;
		margin-bottom : 2.5rem;
		margin-top    : 2.5rem;
		max-width     : 910px !important;
		padding       : 3.25rem 2.75rem 3.25rem 2rem;
		
		&:before {
			color        : rgb(245, 243, 243);
			content      : 'â€';
			float        : left;
			font-family  : "Times New Roman", serif;
			font-size    : 158px;
			font-weight  : bold;
			line-height  : 1;
			margin-right : 3rem;
		}
	}
	
	@for $i from 1 through 6 {
		h#{$i} {
			font-weight : 800;
		}
	}
	
	h2 {
		font-size : 1.25rem;
	}
	
	h3 {
		font-size   : 1.125rem;
		font-weight : 600;
	}
	
	h6 {
		font-size   : 1.125rem;
		font-weight : 600;
	}
	
	ol {
		counter-reset : count;
		margin-left   : 2rem;
		
		li {
			@include flex(none, none, start);
			counter-increment : count;
			margin-bottom     : 0.75rem;
			
			&:before {
				@include border-radius(50%);
				border       : 1px solid #000;
				content      : counter(count);
				display      : inline-block;
				flex         : 0 0 calc(1.375rem + 1px);
				font-size    : .625rem;
				font-weight  : 600;
				line-height  : calc(1.25rem + 1px);
				margin-right : .75rem;
				margin-top   : .25rem;
				padding-left : 1px;
				text-align   : center;
				
			}
		}
	}
	
	p {
		font-size   : 0.8125rem;
		font-weight : 500;
		line-height : 2rem;
		
		a {
			@include transition(color 0.125s linear);
			color       : #057f9e;
			font-weight : 600;
			
			&:hover {
				color : $yellow;
			}
		}
	}
	
	table {
		font-size     : 0.8125rem;
		font-weight   : 500;
		margin-bottom : 0;
		width         : 100%;
		
		&:last-child {
			margin-bottom : 2.5rem;
		}
		
		td {
			vertical-align : middle;
			
			&:first-child {
				color : #a4a4a4;
			}
		}
		
		td, th {
			padding    : {
				bottom : 1rem;
				top    : 1rem;
			}
		}
		
		th {
			@include border-radius;
			background-color : #f5f4f2;
			font-size        : 1.125rem;
			text-align       : left;
		}
		
		tr {
			border-top : 1px dotted #d6d6d6;
			
			&:first-child {
				border-top : 0;
				
				td {
					padding-top : 1.5rem;
				}
			}
		}
	}
	
	ul {
		li {
			margin-bottom : 0.5em;
			padding-left  : 50px;
			position      : relative;
			
			&:before {
				@include border-radius;
				background-color : $yellow;
				background-image : none;
				content          : '';
				height           : 0.25rem;
				left             : 1.25rem;
				margin           : auto;
				position         : absolute;
				top              : 0.75em;
				width            : 1rem;
			}
		}
	}
	
	.address-list {
		background-color : #eaf5f6;
		float            : left;
		margin-bottom    : 5rem;
		margin-right     : 2rem;
		padding          : 1.5rem 1.75rem;
		
		ul {
			padding-right : 4.5rem;
			
			li {
				margin-bottom : 0.25em;
				padding-left  : 2rem;
				
				&:before {
					left : 0;
				}
			}
		}
	}
	
	& + .content {
		padding-top : 0;
	}
	
	.file-list {
		.file-item {
			@include flex(none, between);
			border-bottom : 1px dotted #d6d6d6;
			max-width     : 740px;
			padding       : 1.0875rem 0;
			
			.file {
				font-size   : 0.875rem;
				font-weight : 600;
				line-height : 1.429;
				
				&.pdf:before {
					background   : url($image_dir + "pdf.png") no-repeat center;
					content      : '';
					float        : left;
					height       : 1.25rem;
					margin-right : 1rem;
					width        : 2.5rem;
				}
			}
			
			.file-size {
				color       : #a4a4a4;
				font-size   : 0.8125rem;
				line-height : 1.429;
			}
		}
	}
	
	&.heading p {
		font-size   : 1rem;
		font-weight : 600;
		line-height : 1.625;
	}
	
	.news-wrapper & {
		margin-left  : auto;
		margin-right : auto;
		max-width    : 910px;
		
		> * {
			margin-left  : auto;
			margin-right : auto;
			max-width    : 600px;
		}
		
		&.heading + .content {
			> p:first-child:first-letter {
				color         : $yellow;
				float         : left;
				font-size     : 55px;
				font-weight   : 800;
				line-height   : 1;
				padding-right : 0.75rem;
			}
		}
	}
	
	.tab-pane & {
		ul {
			li {
				padding-left : 50px;
				
				&:before {
					@include absolute-center(right unset left 30px);
					background : url($image_dir + "angle-right-solid.svg") center no-repeat;
					content    : '';
					height     : 1rem;
				}
			}
		}
	}
}

#availability {
	table {
		line-height : 1.5;
		
		tr td:nth-child(2) {
			font-weight : 600;
		}
		
		table {
			margin-bottom : 0;
			
			td {
				color   : $black;
				padding : 0 1.25rem;
				
				&:first-child {
					color      : #a4a4a4;
					text-align : right;
				}
				
				&:nth-child(2) {
					font-weight : 500;
				}
			}
			
			tr {
				border : 0;
			}
		}
		
		td, th {
			padding   : {
				left  : 1.25rem;
				right : 1.25rem;
			}
			white-space : nowrap;
			
			&:first-child {
				width : 112px;
			}
			
			&:nth-child(3), &:nth-last-child(3) {
				width : 125px;
			}
			
			&:nth-last-child(2) {
				width : 146px;
			}
		}
		
		th {
			font-size : 0.875rem;
		}
		
		iframe {
			height : 70px;
			width  : 70px;
		}
	}
}

#properties {
	table {
		max-width : 572px;
		
		td {
			width : 50%;
		}
		
		td, th {
			&:first-child {
				padding-left : 1.25rem;
			}
		}
	}
}