@media (max-width : 1399.98px) {
	#brands {
		.slick-next {
			right : -25px;
		}
		
		.slick-prev {
			left : -25px;
		}
	}
	
	.product-slider, .related-slider, .news {
		.slick-next, .slick-prev {
			display : none !important;
		}
	}
}

@media (max-width : 1259.98px) {
	header {
		.phone {
			a {
				display       : block;
				padding-right : 15px;
				
				span {
					display : none;
				}
				
				&.tel:before {
					content : none;
				}
				
				&:after {
					background : url($image_dir + "phone.svg");
					content    : '';
					display    : block;
					height     : 23px;
					width      : 25px;
				}
				
				&:before {
					content : none;
				}
			}
		}
	}
	
	main {
		&.gallery-bg {
			@include background-gradient(#f5f3ee 305px, $white 0);
		}
		
		&.gallery-item-bg {
			@include background-gradient(#f5f3ee 190px, $white 0);
		}
		
		&.job-item-bg {
			@include background-gradient(#f5f3ee 190px, $white 0);
		}
	}
	
	footer {
		#footer {
			grid-template-areas   : "about catalog contacts" "info info info";
			grid-template-columns : 1fr 2fr 1fr;
		}
		
		.info {
			@include flex-align(row, between, center);
			padding-top : 0;
			
			> li:last-child {
				flex : 0 0 25%;
			}
			
			> li:nth-child(2) {
				margin-top : 0 !important;
			}
			
			.copyright {
				@include flex(row, between, center);
			}
		}
	}
	
	#navigation {
		.container-fluid {
			padding : 0
		}
	}
	
	#slider .container-fluid .main-slider {
		.item {
			height : 370px;
			
			.image {
				max-width : 370px;
			}
			
			.title {
				max-width : 250px;
				
				h1 {
					font-size : 2.5rem;
				}
			}
		}
	}
	
	#steps .wrapper > p {
		display : none;
	}
	
	.breadcrumb {
		padding-top : 1.75rem;
	}
	
	.cards {
		margin    : {
			left  : -9px;
			right : -9px;
		}
		
		.card {
			margin    : {
				left  : 9px;
				right : 9px;
			}
			padding : 30px;
			
			
			&.showroom {
				@include flex-align(col, center, end);
				@include flex-wrap(wrap);
				
				h4 {
					margin-bottom : 15px;
				}
			}
		}
		
		.mini-card {
			@include flex-align(col, none, between);
			@include flex-wrap(wrap);
			padding-right : 0;
			text-align    : center;
			
			.image-container {
				margin-bottom : 15px;
			}
			
			p {
				margin-left : 0;
			}
		}
	}
	
	.gallery-list {
		.slick-slide {
			height : 45vw;
		}
	}
	
	.item-gallery {
		flex-direction : column-reverse;
		
		.gallery-images {
			flex        : none;
			max-width   : 100%;
			overflow    : hidden;
			padding-top : 15px;
			
			.slick-list {
				overflow-y     : visible;
				padding-bottom : 0;
				padding-top    : 0;
			}
			
			.slick-slide {
				opacity : 1 !important;
				width   : 106px;
				
				&.slick-current:after {
					border-bottom : 15px solid #f4f4f4;
					border-left   : 50px solid transparent;
					border-right  : 50px solid transparent;
					border-top    : 0;
					right         : 0.25rem;
					top           : -1rem;
				}
			}
		}
	}
	
	.jobs {
		.pers-dev {
			h4 {
				font-size : 1.25rem;
			}
			
			svg {
				padding : 3rem;
			}
		}
	}
	
	.navbar-brand {
		margin-left  : 20px;
		margin-right : 5px;
	}
	
	.nav-button, .nav-item {
		a {
			padding-left  : 10px;
			padding-right : 10px;
		}
	}
	
	.nav-tabs {
		.nav-item {
			margin-left  : 0.1875rem;
			margin-right : 0.1875rem;
		}
	}
	
	.page-title {
		h1 {
			font-size : 2.1875rem;
		}
	}
	
	.products {
		grid-template-columns : repeat(3, 1fr);
		
		&.wish {
			grid-template-columns : repeat(4, 1fr);
		}
	}
	
	.projects-wrapper .projects-grid {
		grid-template-columns : repeat(2, 1fr);
	}
	
	.warranties .warranty-item {
		max-width : unset;
		min-width : unset;
		padding   : 1rem;
	}
	
	.wrapper.wish-wrapper #delete-all {
		padding : 0.75rem;
		top     : -66px;
	}
}

@media (max-width : 991.98px) {
	main {
		&.gallery-bg {
			@include background-gradient(#f5f3ee 340px, $white 0);
		}
		
		&.gallery-item-bg {
			@include background-gradient(#f5f3ee 180px, $white 0);
		}
		
		&.job-item-bg {
			@include background-gradient(#f5f3ee 180px, $white 0);
		}
	}
	
	#categories {
		display : none;
	}
	
	#item-card {
		grid-template-columns : calc(100% - 440px) 400px;
		
		.page-title h1, .item-price-block .price {
			font-size : 1.875rem;
		}
	}
	
	#navigation {
		border     : 1px solid #f4f4f4;
		box-shadow : 0 6px 13px 0 #00000008;
	}
	
	#slider {
		.container-fluid {
			@include flex-wrap(wrap);
			
			.main-slider {
				flex : 0 0 100%;
				
				.item {
					height : 330px;
					
					> .image-container {
						@include flex-align(none, end);
					}
					
					.image {
						max-width : 330px;
					}
					
					.title {
						h1 {
							font-size : 1.875rem;
						}
					}
				}
			}
			
			.slider-nav {
				margin-top : 15px;
				max-width  : none;
			}
		}
	}
	
	#steps {
		.step {
			padding : 0;
		}
	}
	
	#subscribe {
		label {
			flex : 0 0 auto;
			
			p {
				display : none;
			}
		}
	}
	
	.breadcrumb {
		padding-top : 1.625rem;
	}
	
	.cards {
		.card {
			&.choose {
				background-image : none;
				min-width        : 220px;
				padding          : 20px;
				
				&.inline {
					grid-column-gap    : 0.5rem;
					grid-template-rows : repeat(2, 1fr);
					
					h4, > img {
						grid-row-end   : 3;
						grid-row-start : 1;
					}
					
					> img {
						height : 120px;
					}
					
					.phone {
						grid-column-end   : 5;
						grid-column-start : 3;
					}
				}
			}
		}
		
		.mini-card {
			margin    : {
				left  : 0;
				right : 0;
			}
		}
	}
	
	.gallery-wrapper {
		.item {
			.item-body > p {
				display : none;
			}
		}
	}
	
	.main-slider {
		.slick-prev, .slick-next {
			bottom : -65px;
			left   : unset;
			right  : 50px;
			top    : unset;
		}
		
		.slick-next {
			right : 0;
		}
	}
	
	.navbar .navbar-brand {
		margin-right : auto;
	}
	
	.navbar-collapse {
		background-color : #fff;
		left             : 0;
		margin           : auto;
		max-width        : 640px;
		position         : absolute;
		right            : 0;
		top              : 100%;
		z-index          : 10;
	}
	
	.nav-tabs .nav-link {
		font-size : 0.8125rem;
		padding   : {
			left  : 0.5rem;
			right : 0.5rem;
		}
		
		&.active {
			padding-right : 0.5rem;
			
			&:after {
				content : none;
			}
		}
	}
	
	.newest, .job-card {
		margin-bottom : 1.125rem;
	}
	
	.news-wrapper {
		.news-grid {
			grid-template-columns : 1fr;
		}
	}
	
	.products, .slideshow-nav .slick-track {
		grid-template-columns : repeat(3, 1fr);
	}
	
	.wrapper {
		aside {
			flex      : 0 0 210px;
			max-width : 210px;
		}
	}
}

@media (max-width : 767.98px) {
	main {
		&.gallery-bg {
			@include background-gradient(#f5f3ee 285px, $white 0);
		}
		
		&.gallery-item-bg {
			@include background-gradient(#f5f3ee 170px, $white 0);
		}
		
		&.gallery-item-bg {
			@include background-gradient(#f5f3ee 170px, $white 0);
		}
	}
	
	footer {
		padding : 40px 0;
		
		#footer {
			@include flex(col, center);
			
			.about-list, .catalog-list {
				display : none;
			}
			
			.contacts {
				margin-bottom : 35px;
			}
			
			.info {
				@include flex-align(col);
				
				> li {
					margin-bottom : 30px;
					
					&:last-child {
						margin-bottom : 0;
					}
				}
				
				.copyright {
					@include flex-align(none, center);
					@include flex-wrap(wrap);
				}
			}
			
			.offices h6 {
				text-align : center;
			}
		}
	}
	
	#about-us {
		.cards {
			@include flex-align(row);
		}
	}
	
	#account {
		.card {
			height : auto;
			margin : 1rem 0;
		}
	}
	
	#brands {
		.slick-next {
			right : -15px;
		}
		
		.slick-prev {
			left : -15px;
		}
	}
	
	#compare, #favorite, #profile {
		display : none;
	}
	
	#contacts-buttons {
		margin-bottom : 1rem;
		
		a {
			margin-bottom : 0.75rem;
		}
	}
	
	#contact-form {
		background-color : #f5f3ee;
		display          : none;
		height           : calc(100vh - 87px);
		left             : 0;
		overflow         : auto;
		position         : fixed;
		right            : 0;
		top              : 44px;
		width            : 100%;
		z-index          : 1003;
		
		&.active {
			display : block;
		}
		
		h3 {
			margin-bottom : 0;
		}
		
		form {
			padding-top : 0.75rem;
			
			hr {
				margin-bottom : 1.5rem;
				margin-top    : 1.5rem;
			}
			
			input, textarea {
				margin-bottom : 0;
			}
			
			label {
				&.required {
					&:after {
						position : relative;
					}
				}
				
				&:not(.upload) {
					flex       : 0 0 100%;
					text-align : center;
				}
				
				&.upload {
					margin : auto;
				}
			}
			
			textarea {
				height : 7.5rem;
			}
		}
		
		.close {
			display : block;
		}
		
		.submit {
			flex            : 100%;
			justify-content : center;
			padding-left    : 0;
			
			p {
				flex        : 100%;
				margin-left : 0;
				margin-top  : 1rem;
				text-align  : center;
			}
		}
	}
	
	#item-card {
		grid-template-columns : 1fr;
		
		.gallery-images {
			padding-top : 2rem;
		}
		
		.item-actions {
			grid-row-start : 5;
		}
		
		.item-actions, .item-price-block, .quantity {
			justify-content : center;
		}
		
		.item-gallery {
			grid-row-end   : unset;
			grid-row-start : unset;
			margin         : auto auto 2rem;
			max-width      : 320px;
		}
		
		.page-title {
			grid-row-start : 1;
		}
		
		.product-code {
			text-align : center;
		}
		
		.product-content {
			margin-left : 0;
			max-width   : 100%;
		}
		
		.prof-help {
			justify-self : center;
		}
	}
	
	#locations .card {
		iframe {
			height : 220px;
		}
		
		.card-body {
			flex        : 100%;
			margin-left : 0;
			text-align  : center;
			
			h4 {
				text-align : center;
			}
			
			table {
				margin : auto;
			}
		}
	}
	
	#news {
		.card {
			max-width : 220px;
		}
		
		.slick-slide {
			opacity : 1 !important;
		}
	}
	
	#news-title {
		display : block;
	}
	
	.order-md-1 {
		order : -1;
	}
	
	#slider {
		.container-fluid {
			@include flex-wrap(wrap);
			
			.main-slider {
				.item {
					@include flex-align(row, between);
					height : auto;
					
					.category {
						flex : 100%;
					}
					
					.category, > .image-container, .title {
						order : -1;
					}
					
					.image {
						height : 310px;
						left   : -160px;
					}
					
					> .image-container {
						@include flex-align(none, start);
						margin-bottom : 25px;
					}
					
					.title {
						max-width : 200px
					}
				}
			}
			
			.slider-nav {
				margin-top : 15px;
			}
		}
	}
	
	#steps {
		display : none;
	}
	
	#stores {
		flex-wrap : wrap;
		
		.card {
			flex          : 100%;
			margin-bottom : 1rem;
			
			&:last-child {
				margin-bottom : 0;
			}
		}
	}
	
	#success {
		h1 {
			font-size : 1.875rem;
		}
	}
	
	.breadcrumb {
		padding-top : 1.5rem;
	}
	
	.cards {
		@include flex-align(col);
		
		.card {
			margin-bottom : 30px;
			
			> img {
				display : none;
			}
			
			&.about {
				@include flex-align(none, none, center);
				background-color        : #2b2c30;
				background-image        : none;
				-webkit-background-size : 100%;
				background-size         : 100%;
				flex                    : 0 0 100%;
				height                  : auto;
				text-align              : center;
				
				h4 {
					color : $yellow;
				}
			}
			
			&.choose {
				align-items : center;
				text-align  : center;
				
				&.inline {
					@include flex;
					padding : 2rem !important;
					
					h4 {
						margin-bottom : 1.25rem;
					}
					
					.offices {
						ul {
							display : block;
						}
					}
				}
				
				> p {
					margin-bottom : 25px;
					width         : auto;
				}
				
				.offices {
					li {
						text-align : left;
					}
					
					&, h6 {
						width : auto;
					}
				}
				
				.phone {
					flex-direction : column;
					margin-bottom  : 25px;
					
					a {
						margin-bottom : 15px;
						padding-right : 0;
					}
					
					p {
						margin-left : 0;
					}
				}
			}
			
			&.showroom {
				-webkit-background-size : 100%;
				background-size         : 100%;
			}
		}
		
		.mini-card {
			margin    : {
				left  : 12px;
				right : 12px;
			}
			
			&:last-child, &:nth-last-child(2) {
				display : none;
			}
		}
	}
	
	.container-fluid {
		padding   : {
			left  : 20px;
			right : 20px;
		};
	}
	
	.gallery-list .slick-slide {
		height : auto;
	}
	
	.gallery-wrapper {
		.gallery-items, .image-container {
			margin-right : 0;
		}
		
		.item {
			@include flex-align(col);
			
			> .image-container {
				margin-right : 0;
			}
			
			.item-body {
				align-items : center;
			}
		}
	}
	
	.item-container {
		#stores {
			order : -1;
		}
	}
	
	.job-card {
		.card {
			flex-direction : column;
			
			a {
				display    : inline-block;
				text-align : center;
			}
			
			.card-body {
				@include flex-align(none, start, center);
				flex : 0 0 auto;
			}
			
			.card-date {
				margin-bottom : 0;
				margin-top    : 1.25rem;
				text-align    : center;
			}
		}
	}
	
	.jobs {
		flex-wrap : wrap;
		
		.job-list {
			flex          : 100%;
			margin-bottom : 2.5rem;
			padding-left  : 0;
		}
		
		.pers-dev {
			@include flex(none, center, center, wrap);
			flex      : 100%;
			margin    : auto;
			max-width : 35rem;
			order     : 1;
			
			h4 {
				flex       : 100%;
				text-align : center;
			}
			
			p {
				flex         : 1 1 300px;
				padding-left : 0.75rem;
			}
			
			svg {
				flex      : 0 0 7.25rem;
				max-width : 16rem;
				padding   : 0.75rem;
			}
		}
	}
	
	.navbar-toggler {
		.navbar-toggler-icon {
			margin-right : 0;
			
			svg path {
				stroke : $black;
			}
		}
		
		.navbar-toggler-text {
			display : none;
		}
	}
	
	.nav-tabs {
		display : none;
	}
	
	.newest {
		.card {
			flex-direction : column;
			
			a {
				flex      : 1 1 auto;
				font-size : 1rem;
			}
			
			.card-body {
				flex    : 1 1 auto;
				order   : 1;
				padding : 1.25rem 0;
			}
			
			.card-date {
				margin-bottom : 0;
				margin-top    : 20px;
			}
		}
	}
	
	.news-wrapper {
		.news-grid {
			grid-template-columns : 1fr 1fr;
		}
	}
	
	.order-md-1 {
		order : -1;
	}
	
	.page-title {
		h1 {
			font-size  : 2.1875rem;
			text-align : center;
		}
	}
	
	.products, .slideshow-nav .slick-track {
		grid-template-columns : repeat(2, 1fr);
		
		&.wish {
			grid-template-columns : repeat(3, 1fr);
		}
	}
	
	.product-slider, .related-slider, .news {
		.slick-next, .slick-prev {
			display : inline-block !important;
			
			&.slick-disabled {
				display : none !important;
			}
		}
		
		svg path {
			stroke : #b2b5b6;
		}
		
		.slick-next {
			right : -20px;
		}
		
		.slick-prev {
			left : -20px;
		}
	}
	
	.product-slider, .related-slider {
		.product {
			max-width : 220px;
		}
		
		.slick-slide {
			opacity : 1 !important;
		}
	}
	
	.share {
		line-height : 54px;
		
		.back {
			border-right : 0
		}
		
		.social {
			border-top      : 1px solid #f4f4f4;
			flex            : 100%;
			justify-content : center;
			padding-left    : 0;
			padding-right   : 0;
		}
	}
	
	.slick-list {
		box-shadow : inset 0 0 10px #fff;
		margin     : 0;
	}
	
	.tab-content button {
		display : block;
	}
	
	.wrapper {
		aside {
			display : none;
		}
	}
}

@media (max-width : 575.98px) {
	main {
		&.gallery-bg {
			@include background-gradient(#f5f3ee 270px, $white 0);
		}
		
		&.gallery-item-bg {
			@include background-gradient(#f5f3ee 160px, $white 0);
		}
		
		&.gallery-item-bg {
			@include background-gradient(#f5f3ee 200px, $white 0);
		}
	}
	
	#account #account-form {
		form {
			justify-content : center;
			
			input {
				flex : 100%;
			}
			
			label {
				flex         : none;
				margin-right : 0;
			}
			
			.submit {
				padding-left : 0;
			}
		}
	}
	
	#locations .card .title {
		flex-wrap       : wrap;
		justify-content : center;
		
		h3 {
			margin-bottom : 1rem;
		}
	}
	
	#pager {
		@include flex-align(col, center, between);
		
		> * {
			margin : 0.5rem 0 !important;
		}
		
		.show-more {
			order : -1;
		}
	}
	
	#slider .container-fluid .main-slider {
		.item {
			.image {
				height       : 100%;
				left         : 0;
				margin-left  : auto;
				margin-right : auto;
				max-width    : 256px;
				
				img {
					left     : 50px;
					padding  : 2rem 0;
					position : relative;
					top      : unset;
					width    : 100%;
				}
			}
			
			> .image-container {
				width : 100%;
			}
			
			.price {
				left     : 0;
				position : absolute;
			}
		}
	}
	
	#subscribe {
		button {
			flex-grow   : 0;
			flex-shrink : 0
		}
		
		form {
			@include flex-wrap(wrap);
			@include flex-align(none, center, center);
			
			> * {
				margin-bottom : 25px;
				
				&:last-child {
					margin-bottom : 0;
				}
			}
		}
		
		input {
			flex : 1 1 100%;
			margin    : {
				left  : 40px;
				right : 40px;
			}
		}
		
		label {
			@include flex(none, center, none, wrap);
			margin-right : 0;
			text-align   : center;
			width        : 100%;
			
			p {
				display : block;
			}
		}
	}
	
	#success {
		h1 {
			font-size : 1.5rem;
		}
	}
	
	.control {
		padding : 0;
		
		.left, .right {
			flex            : 1 1 100%;
			justify-content : center;
			order           : 1;
			width           : 100%;
		}
		
		.right {
			margin-bottom : 20px;
			order         : 0;
		}
	}
	
	.filter {
		.accordion {
			max-width : none;
			width     : 100%;
			
			.link-group {
				margin    : auto;
				max-width : 280px;
			}
		}
	}
	
	.inline {
		.product {
			height         : 7.5rem;
			padding-bottom : 0;
			
			> a {
				align-items : flex-start;
				padding     : .75rem 3.75rem 1.5rem 1rem;
				
				h5 {
					font-size     : 0.75rem;
					margin-bottom : 0.5rem;
				}
				
				img {
					margin : 0 1.375rem 0 0;
				}
				
				.add-to-cart {
					bottom   : 1rem;
					left     : unset;
					position : absolute;
					right    : 0.75rem;
				}
				
				> .image-container {
					height : 68px;
				}
				
				.price-container {
					justify-content : flex-start;
				}
				
				.product-body {
					align-items    : flex-start;
					flex-direction : column;
				}
			}
			
			.float-buttons {
				align-items     : center;
				bottom          : 0.5rem;
				display         : flex;
				flex-direction  : row;
				justify-content : center;
				left            : 1rem;
				margin          : 0;
				position        : absolute;
				right           : unset;
				top             : unset;
				
				.favorite {
					margin-bottom : 0;
					margin-right  : 5px;
				}
			}
		}
	}
	
	.jobs {
		.pers-dev {
			h4 {
				padding-left  : calc((100% - 260px) / 2);
				padding-right : calc((100% - 260px) / 2);
			}
			
			p {
				padding-left : 0;
				text-align   : justify;
			}
		}
	}
	
	.news-wrapper {
		.news-grid {
			grid-template-columns : 1fr;
		}
	}
	
	.page-title {
		h1 {
			font-size : 1.875rem;
		}
		
		&.centered {
			h1 {
				font-size : 1.875rem;
			}
		}
	}
	
	.product > a .add-to-cart {
		left         : 0;
		margin-left  : auto;
		margin-right : auto;
	}
	
	.products, .slideshow-nav .slick-track {
		grid-template-columns : 1fr;
		
		.cards {
			grid-column : 1;
		}
		
		&.wish {
			grid-template-columns : repeat(2, 1fr);
		}
	}
	
	.projects-wrapper .projects-grid {
		grid-template-columns : 1fr;
		
		.item .overlay {
			align-items : center;
			
			.title {
				max-width  : 13rem;
				text-align : center;
			}
		}
	}
	
	.wrapper.wish-wrapper #delete-all {
		padding : 0.5rem;
		top     : -60px;
	}
}

@media (max-width : 480px) {
	#about-us .cards {
		@include flex-align(col);
		
		.mini-card {
			margin-bottom : 15px;
		}
	}
	
	.share .social {
		padding-bottom : 1.25rem;
		
		p {
			padding-left : .75rem;
		}
	}
}

@media (max-width : 449.98px) {
	#checkout form .form-group {
		flex-wrap       : wrap;
		justify-content : flex-start;
		
		label {
			text-align : left;
		}
	}
	#item-card .item-gallery {
		max-width : 280px;
	}
	
	#subscribe label:before {
		margin-bottom : 10px;
	}
	
	.products {
		&.wish {
			grid-template-columns : 1fr;
		}
	}
	.warranties {
		flex-wrap : wrap;
		
		.warranty-item {
			flex : 100%
		}
	}
}