{#<hr>#}
<div id="info">
  <div class="container-fluid">
    <div class="cards">
      <div class="card about">
        <h4>{{ title }}</h4>
        <p>{{ description }}
        </p>
        <a class="btn" href="{{ link }}">{{ link_text }}</a>
      </div>
